coapthon==4.0.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
CoAPthon3==1.0.2
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
peewee==3.14.4
urllib3==1.26.5
paho_mqtt==1.6.1
pyzmq==24.0.1
requests==2.25.1
Werkzeug==2.0.1
psutil==5.9.5