.table__cell:not(.table__cell:last-child){
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.table__cell:not(th,.table__cell:last-child){
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color:rgb(0, 0, 0);
}

.table{
    border-spacing: 0;
}

.table__cell:last-child:not(th){
    background-color:rgb(255, 255, 255);
}

.table__row:nth-last-child(odd){
    background-color:rgb(235, 235, 235);
}

.table__cell:nth-last-child(-n+2):not(th){
    background-color: white !important;
}

.table__header{
    padding: 8px;
    color:rgb(236, 236, 236);
    text-align: center;
    background-color:#464646;
    
}

.button {
    display: inline-block;
    border-radius: 0px;
    background-color: #464646;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    min-height: equal to #table__row height;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
}

.delete-button {
    display: inline-block;
    border-radius: 0px;
    background-color: #464646;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    min-height: equal to #table__row height;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
}

.delete-button:hover{
    background-color:rgb(121, 0, 0);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button:hover{
    transition: 0.5s;
    background-color: #047e00;
}